* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue: #7ba1c0;
  --white: #d7d8d3;
  --brown: #853b36;
}

.nav__container {
  --blue: #7ba1c0a5;
  display: flex;
  background-color: var(--blue);
  padding: 10px 8%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.list__content {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 130%;
  gap: 5%;
  padding-inline-start: 0;
}

@media (max-width: 680px) {
  .list__content {
    display: none;
  }
}


.list,
.btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.btn {
  color: var(--white);
  background-color: var(--brown);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

/* _____________main-sections_________________ */

.main__sections {
  background-image: url(../img/Wisdom-Book-Project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 110px 8%;
  display: grid;
  grid-template: repeat(3, auto) / 70% 30%;
  grid-template-areas:
    "item1 item5"
    "item2 item5"
    "item3 item5";
}

@media (max-width: 840px) {
  .main__sections {
    grid-template: repeat(4, auto) / 100% 0;
    grid-template-areas:
    "item1 item1"
    "item2 item2"
    "item3 item3"
    "item5 item5";
  }
}

.heading__contents {
  width: 240px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 20px;
}

.main__heading1 {
  font-weight: 900;
  font-size: 35px;
}

.main__heading2 {
  font-size: 38px;
  font-weight: 200;
}

.main__heading2__design {
  font-family: none;
  color: var(--blue);
}

.main__heading3 {
  text-align: right;
  font-weight: 100;
  font-size: 12px;
  padding-right: 4%;
  color: var(--brown);
}

.heading__container1 {
  grid-area: item1;
}

.heading__container2 {
  grid-area: item2;
}

.book__contain1 {
  grid-area: item3;
  display: grid;
  grid-template-columns: 
  repeat(auto-fit,minmax(min(200px,100%),1fr));
}

.book__contents {
  position: absolute;
  background-size: contain;
  width: 40%;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgba(215, 216, 211, 0.66);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(215, 216, 211, 0.66);
  -moz-box-shadow: 0px 0px 5px 1px rgba(215, 216, 211, 0.66);
}

.book__contain3 {
  grid-area: item5;
}

.book {
  width: 140px;
  height: 160px;
  background-size: cover;
  margin: 20px 0 10px 0;
  border-radius: 3px;
  cursor: pointer;
}

.book__text {
  background-color: var(--brown);
  width: max-content;
  border-radius: 3px;
  padding: 3px 2px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}

.width__space {
  width: 100%;
}

/* .container1__book1 {
    width: 100%;
} */

.book1__container {
  background-image: url(../img/good_inscription_wisdom_418877_4095x7000.jpg);
  position: relative;
}

.book1__content1 {
  background-color: var(--blue);
  top: 7px;
  right: -20px;
}

.book1__content2 {
  background-color: var(--brown);
  top: 40px;
  right: -25px;
}

.book1__content3 {
  background-color: var(--blue);
  top: 87px;
  right: -20px;
}

.book1__content4 {
  background-color: var(--brown);
  top: 119px;
  right: -25px;
}

/* .container1__book2 {
    width: 100%;
} */

.book2__container {
  background-image: url(../img/giter.jpg);
}

/* .container1__book3 {
    width: 100%;
} */

.book3__container {
  background-image: url(../img/spaces.jpg);
}

.book4__container {
  background-image: url(../img/car.jpg);
}

.book5__container {
  background-image: url(../img/city.jpg);
}

.book6__container {
  background-image: url(../img/small-city.jpg);
}

/* _______________form____________________ */

.container3__book__container {
  margin-bottom: 30px;
}

@media (max-width: 840px) {
  .container3__book__container {
    margin-top: 100px;
  }
}

.container3__book1 {
  position: relative;
  background-image: url(../img/flower2.jpg);
}

.container3__book2 {
  background-image: url(../img/flower.jpg);
  position: absolute;
  transform: rotateZ(100deg);
}

.container3__book2:hover {
  opacity: 0.2;
  transition: 0.5s ease-in-out;
}
